<html>
<body>
<header>
<!--<a class="btn btn-primary btn-lg" href=<%#= user_path(@user) %> role="button">Update My Info</a>-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="<%= user_path(@logged_in_user) %>" role="tab" aria-controls="profile" aria-selected="false">MyProfile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="edit.html.erb" role="tab" aria-controls="contact" aria-selected="false">Contact </a>
  </li>
</ul>
</header>
<h1><%="Edit Info"%> </h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br><br>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %><br><br>

<%= f.submit "Update Profile"%>
  <% end %>
</body>
</html>