
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone_number %></p>
<%= link_to "Edit Profile", edit_user_path %>

<ul>
  <% @days.each do |day| %>
    <h1><li><%= day.name %></li></h1>

    <%= form_for @order do |f| %>
    <%#f.hidden_field :day_id, value: day.id %>
    <%= f.label :muffin_type_id %>
    <%= f.collection_select :muffin_type_id, @muffins, :id, :flavor %>
    <%= f.submit %>
    <% end %>
  <% end %>
</ul>
