<%# SEE AND EDIT USER INFO %>

<div class="jumbotron">
  <h1 class="display-4 text-center">Set up your muffins!</h1>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href=<%= edit_user_path %> role="button">Update My Info</a>
</div>


<%# CREATING ORDERS FOR THE WEEK %>
<ul>
  <% if flash[:message] != nil %>
    <%= flash[:message] %>
  <% end %>

  <% @days.each do |day| %>

    <% if !@logged_in_user.days.include?(day) %>
      <h1><li><%= day.name %></li></h1>
      <%= form_for @order do |f| %>
      <%= f.hidden_field :day_id, value: day.id %>
      <%= f.label :muffin_type_id %>
      <%= f.collection_select :muffin_type_id, @muffins, :id, :flavor %>
      <%= f.submit %>

      <% end %>
      <% end %>
  <% end %>
</ul>


<%# SHOW ALL EXSITING ORDERS %>
<ul>
  <% @user.orders.each do |order| %>
<p> Yum! You got a <%= order.muffin_type.flavor %> flavored muffin on <%= order.day.name %>. You can write a review if you would like.</p>
<a class="btn btn-secondary btn-sm" href=<%= edit_order_path(order) %> role="button">Add Review</a>
  <% end %>
</ul>


<%= link_to "Home Page", orders_path %>
