<div class="container text-center">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Hello, <%= @logged_in_user.name %>!</h1>
  </div>

  <%= button_to "Choose your Muffin!", user_path(@logged_in_user.id), :method => :get , class:"btn btn-primary" %>

  <h1>Reviews</h1>
  <div class="row">
    <% @new_orders.each do |order| %>
      <div class="col-sm-6">
        <div class="card">
          <img src="<%= order.muffin_url %>" class="card-img-top" alt=" ">
          <div class="card-body">
            <h5 class="card-title"><%= order.title %></h5>
            <p class="card-text"><%= order.review %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
