<html>
<header>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="<%= user_path(@logged_in_user) %>" role="tab" aria-controls="profile" aria-selected="false">MyProfile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="edit.html.erb" role="tab" aria-controls="contact" aria-selected="false">Contact </a>
    </li>
  </ul>
</header>
<body>

<div class="container text-center">

  <div class="jumbotron">
    <h1 class="display-4 text-center">Hello, <%= @logged_in_user.name %>!</h1>
  </div>

  <%= button_to "Choose your Muffin!", user_path(@logged_in_user.id), :method => :get , class:"btn btn-primary" %>
<%#= button_to "Choose your Muffin!", user_path(@user), :method => :get %>

  <h1>Reviews</h1>

<div class="row">
  <% @new_orders.each do |order| %>
    <div class="col-sm-6">
      <div class="card">
        <img src="<%= order.muffin_url %>" class="card-img-top" alt=" ">
        <div class="card-body">
          <h5 class="card-title"><%= order.title %></h5>
          <p class="card-text"><%= order.review %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>
</body>
</html>
