<!DOCTYPE html>
<html>
  <head>
    <title>MuffinmorningsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="auth-nav">
      <ul>
        <% unless @logged_in %>
        <li>
          <%= link_to "Sign up", new_user_path %>
        </li>
        <li>
          <%= link_to "Log in", new_login_path %>
        </li>
        <% else #logged in %>
          <li>
            Logged in as <%= @logged_in_user.username %>
          </li>
          <li>
            <%= button_to 'Logout', login_path(@logged_in_user) , method: :delete %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
